
    [class*=" el-icon-lx"], [class^=el-icon-lx] {
        font-family: lx-iconfont!important;
    }
    /* [class^="el-icon-lx"], [class*="el-icon-lx"]
    {
    font-family:"lx-iconfont" !important;
    font-size:50px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    } */